.gray-explanation, .red-explanation, .green-explanation, .yellow-explanation {
    font-weight: bold;
}

.gray-explanation {
    color: #ffffff;
    background-color: #a1a1a1;
}

.red-explanation {
    color: #ffffff;
    background-color: #fd8383;
}

.green-explanation {
    background-color: #abdc75;
}

.yellow-explanation {
    background-color: #fffb8b;
}

.day {
    font-weight: bold;
    background-color: #abdc75;
}

.day.high {
    font-weight: bold;
    background-color: #fffb8b;
}

.day.reserved {
    color: #fff;
    background-color: #fd8383;
}

.day.passed {
    color: #fff;
    background-color: #a1a1a1;
}

.calendars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calendar {
    background-color: #b7d5e1;
    width: 46.5%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}

.calendar table {
    width: 100%;
}

.calendar td {
    border: 1px solid black;
    padding: 5px;
}

@media screen and (max-width: 1100px) {

    .calendar {
        width: 100%;
    }

}