.picture-viewer {
    width: 100%;

    border-color: #2d705c;
    border-width: 1px;
    border-style: ridge;

    background-color: #b7d5e1;
}

.picture-container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    max-width: 95%;
    max-height: 95%;
    display: none;
}

.current {
    display: block;
}

.next-picture {
    color: #b7d5e1;
    background-color: #2d705c;
    width: 100%;
}

.previous-picture {
    color: #b7d5e1;
    background-color: #2d705c;
    width: 100%;
}

.next-picture, .previous-picture {
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.next-picture:hover, .previous-picture:hover {
    color: #2d705c;
    background-color: #b7d5e1;
}

.picture-viewer-utils {
    display: flex;
    justify-content: space-evenly;
}