.pricing-table {
    padding: 10px;
    background-color: #b7d5e1;
    border: 1px solid black;
}

.pricing-table table {
    width: 100%;
}

.pricing-table td {
    border: 1px solid black;
    padding: 5px;
}